button {
  background-color: orange;
  font-weight: 700;
  font-size: 30px;
  border: 3px solid black;
  height: 100px;
  flex: 1 1 25%;
  text-align: center;
  line-height: 100px;
  cursor: grab;
}

button:hover {
  color: white;
}

button:active {
  background: #ccc;
  color: black;
}
